 /* Media Queries: Tablet Landscape
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
}*/

/* .globalContainer{
  width: 80%;
  max-width: 1000px;
  margin:0 auto;
  overflow: hidden;
} */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.displayInlineBlock {
  display: inline-block;
}

.separateFilterFromHeader {
  margin-bottom: 0;
}

.background {
  background-image: url("img/screen.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.displayBlock {
  display: block;
}
.marginBottom {
  margin-bottom: 50px;
}
.marginTopPet {
  margin-top: 17px;
}
#orangeContainer {
  background-color: #f6791e;
  width: 1050px;
  height: 80px;
  padding-top: 18px;
  border-radius: 15px;
}
.orangeBtn {
  border-radius: 20px;
  background-color: #f6791e;
  color: white;
  font-weight: 700;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  width: 132px;
  margin-bottom: 10px;
  border: 0px;
  box-shadow: 0px 5px 10px darkgrey;
}

.orangeBtn:hover {
  box-shadow: 0px 10px 10px darkgrey;
  background-color: #f6671e;
}
.filterBtn {
  display: inline-block;
  border-radius: 7px;
  background-color: #f4f3f2;
  color: black;
  font-weight: 600;
  font-size: 13px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  width: 200px;
  border: 0px;
  box-shadow: 2px 5px 10px darkgray;
  text-align: center;
  margin-right: 30px;
  position: relative;
}

.filterBtn:hover {
  box-shadow: 0px 10px 10px darkgrey;
  background-color: #c5daf7;
}

#searchBtn {
  width: 70px;
}

#searchBtn:hover {
  box-shadow: 0px 10px 10px darkgrey;
  background-color: #fce552;
}

.positionAbsolute {
  position: absolute;
}
.customWidth {
  width: 80%;
  margin-left: 50px;
}

.btnCategories {
  width: 20%;
  height: 150px;
  margin: 10px;
}

table {
  width: min-content;
  height: auto;
  margin: 86px;
  margin-top: 30px;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #68bb4f;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
tr:hover {
  background: #f4f4f4;
}
td {
  /*color: #999;*/
  font-size: 13px;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}

.thRio {
  background: #68bb4f;
  /*color: rgb(163, 15, 15);*/
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  /*font-size: 12px;*/
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}

.scrollBar {
  width: 975px;
  height: 400px;
  overflow: auto;
}

/* #emptyFilterMessage {
  display: flex;
  margin: 100px 250px;
  color: #0081C7;
} */

#showTomAndMessage1{
  display: flex;
   margin: 50px ;
   margin-right: 250px;
  color: #0081C7;
  align-items: center;
  flex-direction: column;
  vertical-align: text-top;
} 

#showTomAndMessage2{
     display: flex;
     margin-right: 250px;
     margin-bottom: 150px;
     justify-content: center;
    align-items: center;
}  

@media screen and (max-width: 586px) {
  /* .aside { flex: 1 0 0; } */
  .globalContainer {
    display: flex;
    margin:0 auto;
    /* width: 1000px;
    max-width: 1000px; */
  }
  #logo{
    background-image: url("img/logo2016.png");
    background-size: 15vw 15vh;
    background-repeat: no-repeat;
  }
  /* .background {
    /* background: #FFFFFF; 
    /* background-image: url("img/Logo.png"); 
    background-size: 15vw 15vh;
    background-repeat: no-repeat;
  } */
  .displayBlock{
    margin-top: 85px;
  } 
  .filterBtn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f6791e;
    color: #FFFFFF;
    justify-content: center;
    margin: 10px 70px;  
    padding-left: 65px;
  }
  #searchBtn{
    display: flex;
    padding: 10px;
    margin: 10px 130px;  
    align-self: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  #navButton {
    margin-top: -10px;
  }
  #asideContent {
    display: none;
  }
  #orangeContainer{
    display: flex;
    background: none;
  }
  table {
    display: block;
    overflow-x: auto;
  }
  .scrollBar {
    display: block;
    width: 400px;
    height: 300px;
    overflow: auto;
    margin-top: 170px;
  }
  /* .hola {
    text-overflow: ellipsis;
    margin-right: 10px;
} */
/* option{width:auto;}*/
} 

/* @media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
} */